# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/*.json
node_modules/

# Dependencies
/node_modules
/backend/node_modules
/frontend/node_modules

# Environment/Secret Files
.env
/backend/.env
/frontend/.env
/backend/ai-edu-93fe3-firebase-adminsdk-fbsvc-ddc37c78b6.json

# Other ignored files
installed_packages
/frontend/installed_packages